doctype html
html
  head
    title=title
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    block styles
  body
    include header
    block header
    .container.shaddow
        block content
        script(type="text/javascript", src="/javascripts/vendor/jquery-1.11.1.min.js")
        script(type="text/javascript", src="/javascripts/vendor/jquery.timeago.min.js")
        script(type="text/javascript", src="/javascripts/vendor/underscore-min.js")
        script(type="text/javascript", src="/javascripts/vendor/backbone-min.js")

        block bodyscripts

    include footer
